<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/Jim.png" alt="cat profile">
<p>
I’m a software engineer with a background in geoscience, currently pursuing my master’s in Computer Science at The Ohio State University. My work bridges scientific computing and software development, with experience in backend systems, embedded firmware, and seismic data analysis.</p>
<%- include("partials/footer.ejs") %>